.shopping-list {
    display: grid;
    grid-gap: 10px;
    float: left;
    width: 30%;
    background-color: #F7882F;
  }


  .shopping-list table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .shopping-list th,
  .shopping-list td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  .full-recipes {
    display: grid;
    float: left;
    width: 30%;
    background-color: #6B7A8F;
  }
  
  table {
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 5px;
    text-align: left;
  }
  
  th {
    background-color: #F7C331;
  }
  

  body {
    background-color: #DCC7AA;
  }
  
  h1,
  h2 {
    color: black;
  }
