<!DOCTYPE html>
<html>
  <head>
    <title>Add Recipe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='add_style.css') }}">
  </head>
  <body>
    <h1>Add Recipe</h1>
    <form method="POST">
      <label for="name">Recipe Name:</label>
      <input type="text" name="name" required><br><br>
      
      <label for="meat">Meal Type:</label>
      <select name="category1">
        <option value="Meat">Meat</option>
        <option value="Fish">Fish</option>
        <option value="Legume">Legume</option>
        <option value="Veggie">Veggie</option>
      </select><br><br>

      <label for="carb">Carb Base:</label>
      <select name="category2">
        <option value="Pasta">Pasta</option>
        <option value="Rice">Rice</option>
        <option value="Potato">Potato</option>
        <option value="Bread">Bread</option>
        <option value="Side Dish">Side Dish</option>
      </select><br><br>

      <h2>Ingredients:</h2>
      <div id="ingredients">
        <div>
          <label for="ingredient">Ingredient:</label>
          <input type="text" name="ingredient[]" required>
          <label for="quantity">Quantity:</label>
          <input type="text" name="quantity[]" required>
          <label for="units">Units:</label>
          <input type="text" name="units[]">
          <button type="button" onclick="removeIngredient(this)">Delete</button>
        </div>
      </div>
      <button type="button" onclick="addIngredient()">Add Ingredient</button><br><br>

      <input type="submit" value="Add Recipe">
    </form>

    <script>
      function addIngredient() {
        var ingredient = document.createElement("div");
        ingredient.innerHTML = '<label for="ingredient">Ingredient:</label> \
                                <input type="text" name="ingredient[]" required> \
                                <label for="quantity">Quantity:</label> \
                                <input type="text" name="quantity[]" required> \
                                <label for="units">Units:</label> \
                                <input type="text" name="units[]"> \
                                <button type="button" onclick="removeIngredient(this)">Delete</button>';
        document.getElementById("ingredients").appendChild(ingredient);
      }

      function removeIngredient(button) {
        var div = button.parentNode;
        div.parentNode.removeChild(div);
      }
    </script>
  </body>
</html>